@font-face {
    font-family: 'main-font';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimBadasseugiTTF-L.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 기본 글꼴 스타일 */
#text-set {
    font-family: 'main-font';
}

/* 헤더 기본 스타일 */
#header {
    margin: 10px 10px 10px 10px;
}

/*  헤더 아이콘 공통 스타일 */
#header-icons {
    font-size: 32px;
}

/* 오른쪽 헤더 정렬 스타일 */
#right-header-align {
    display: flex;
}

/* 검색 아이콘 스타일 */
#search-icon {
    margin-right: 10px;
}

/* 카트 아이콘 스타일 */
#cart-icon {
    margin-left: 10px;
} 

/* 가게 이름 에이리어 스타일 */
#store-name-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* 가게 이름 텍스트 스타일 */
#store-name-text {
    font-size: 30px;
}

/* 가게 별점 에이리어 스타일 */
#star-rate-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* 별 아이콘 에이리어 스타일 */
#star-area {
    margin-right: 10px;
}

/* 별 아이콘 공통 스타일 */
#star-icons {
    font-size: 24px;
}

/* 평점 텍스트 스타일 */
#rate-text {
    font-size: 25px;
}

/* 리뷰 수 에이리어 스타일 */
#review-stats-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/* 리뷰통계 텍스트 스타일 */
#stats-text {
    text-align: center;
    font-size: 17px;
    color: grey;
}

/* 리뷰통계 중앙선 스타일 */
#stats-border {
    margin: 0px 15px;
    font-size: 20px;
    color: grey;
}